.form {
    padding: 15px 25px;
}

.align-padding {
    padding: 7.5px 25px;
}

input,
.ng-select,
label {
    font-size: 14px;
}

.ecolab-col {
    background-color: #337ab7;
    padding: 5.2px 30px;
    &:hover,
    &:focus {
        background-color: #286090;
    }
}

.fontandweight {
    font-size: 12px;
    font-weight: 500;
}

.font-weight500 {
    font-weight: 500;
}

.form-label {
    font-weight: 500;
}

.inputwidth {
    //width: 202px;
    font-size: 12px;
}

.margin-right {
    margin-right: 25px;
}